.main-avatar-container {
  background: url("https://i.ibb.co/Lg01Zy2/group-img-isay-png.png");
  background-size: cover;
  min-height: 100vh;
}

.main-avatar-container .main-avatar-wrapper {
  color: #4f4f4f;
  padding: 5rem;
}

.main-avatar-container .main-avatar-wrapper .sub-avatar-container {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 200px 100px rgba(117, 117, 117, 0.25);
}

.main-avatar-container
  .main-avatar-wrapper
  .sub-avatar-container
  .sub-avatar-wrapper {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 5rem;
}

.main-avatar-container
  .main-avatar-wrapper
  .sub-avatar-container
  .sub-avatar-wrapper
  .isay-logo
  img {
  height: 7rem;
  transform: translate(-100%, -50%);
}

/* cool we defined you as... */
.main-avatar-container
  .main-avatar-wrapper
  .sub-avatar-container
  .sub-avatar-wrapper
  h2 {
  text-align: center;
  transform: translateY(-4rem);
}

/* icon avatar and name */
.main-avatar-container
  .main-avatar-wrapper
  .sub-avatar-container
  .sub-avatar-wrapper
  .inside-sub-avatar-container
  .inside-sub-avatar-wrapper
  .avatar-name-wrapper {
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
}

/* icon avatar bg */
.main-avatar-container
  .main-avatar-wrapper
  .sub-avatar-container
  .sub-avatar-wrapper
  .inside-sub-avatar-container
  .inside-sub-avatar-wrapper
  .avatar-name-wrapper
  .avatar {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  background: #8a62fb;
  border: 1rem solid #8a62fb;
  border-radius: 50%;
  z-index: 900;
}

/* icon avatar img */
.main-avatar-container
  .main-avatar-wrapper
  .sub-avatar-container
  .sub-avatar-wrapper
  .inside-sub-avatar-container
  .inside-sub-avatar-wrapper
  .avatar-name-wrapper
  .avatar
  img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  max-height: 100%;
}

/* name for avatar */
.main-avatar-container
  .main-avatar-wrapper
  .sub-avatar-container
  .sub-avatar-wrapper
  .inside-sub-avatar-container
  .inside-sub-avatar-wrapper
  .avatar-name-wrapper
  p {
  color: #4781f8;
  border: 1px solid #4781f8;
  align-self: center;
  padding: 0.7rem 4rem;
  border-radius: 3rem;
  transform: translateX(-15%);
  z-index: 10;
  font-weight: 600;
}

/* confetti1 */
.main-avatar-container
  .main-avatar-wrapper
  .sub-avatar-container
  .sub-avatar-wrapper
  .inside-sub-avatar-container
  .inside-sub-avatar-wrapper
  .avatar-name-wrapper
  .confetti-1 {
  height: 3.5rem;
  transform: translateY(-1.5rem);
}

/* container for you're interested - last paragraph */
.main-avatar-container
  .main-avatar-wrapper
  .sub-avatar-container
  .sub-avatar-wrapper
  .inside-sub-avatar-container {
  box-sizing: border-box;
  box-shadow: 0px 10px 30px rgba(0, 56, 255, 0.15);
  text-align: center;
  color: #4f4f4f;
  padding: 0 10rem 2rem;
}

/* you are intereseted in + confetti-2 */
.main-avatar-container
  .main-avatar-wrapper
  .sub-avatar-container
  .sub-avatar-wrapper
  .inside-sub-avatar-container
  .inside-sub-avatar-wrapper
  .top-text
  div {
  display: flex;
  justify-content: center;
}

.main-avatar-container
  .main-avatar-wrapper
  .sub-avatar-container
  .sub-avatar-wrapper
  .inside-sub-avatar-container
  .inside-sub-avatar-wrapper
  .top-text
  div
  img {
  height: 3rem;
  transform: translateY(-1rem);
  margin: 0 2rem;
}

.main-avatar-container
  .main-avatar-wrapper
  .sub-avatar-container
  .sub-avatar-wrapper
  .inside-sub-avatar-container
  .inside-sub-avatar-wrapper
  .top-text
  h4 {
  transform: translateY(-1.5rem);
}

.main-avatar-container
  .main-avatar-wrapper
  .sub-avatar-container
  .sub-avatar-wrapper
  .inside-sub-avatar-container
  .inside-sub-avatar-wrapper
  .top-text
  p {
  font-size: 16px;
  transform: translateY(-2rem);
}

/* interest icon */
.main-avatar-container
  .main-avatar-wrapper
  .sub-avatar-container
  .sub-avatar-wrapper
  .inside-sub-avatar-container
  .interest-icon {
  display: flex;
  padding: 0 5rem;
}

/* interest icon bg */
.main-avatar-container
  .main-avatar-wrapper
  .sub-avatar-container
  .sub-avatar-wrapper
  .inside-sub-avatar-container
  .interest-icon
  .interest-icon-container {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  background: #fcda64;
  border: 1rem solid #fcda64;
  border-radius: 50%;
  margin: auto;
}

/* interest account img */
.main-avatar-container
  .main-avatar-wrapper
  .sub-avatar-container
  .sub-avatar-wrapper
  .inside-sub-avatar-container
  .interest-icon
  .interest-icon-container
  img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  max-height: 100%;
}

/* interest-text */
.main-avatar-container
  .main-avatar-wrapper
  .sub-avatar-container
  .sub-avatar-wrapper
  .inside-sub-avatar-container
  .interest-text {
  display: flex;
  padding: 0 5rem;
}

/* last paragraph */
.main-avatar-container
  .main-avatar-wrapper
  .sub-avatar-container
  .sub-avatar-wrapper
  .inside-sub-avatar-container
  .interest-text
  p {
  overflow-wrap: break-word;
  font-size: 15px;
  font-weight: 600;
  margin: auto;
}

.main-avatar-container
  .main-avatar-wrapper
  .sub-avatar-container
  .sub-avatar-wrapper
  button {
  color: white;
  background-color: #4781f8;
  border: transparent;
  font-size: large;
  padding: 0.7rem;
  width: 15%;
  border-radius: 0.3rem;
  font-weight: 800;
  margin: 2rem 0;
  align-items: center;
  align-self: flex-end;
  width: fit-content;
}

@media screen and (max-width: 1200px) {
  /* .main-avatar-container .main-avatar-wrapper{
        padding: 8rem;
        margin: auto;

    } */

  .main-avatar-container
    .main-avatar-wrapper
    .sub-avatar-container
    .sub-avatar-wrapper
    .inside-sub-avatar-container {
    padding: 0 2rem 2rem;
    /* margin: auto; */
  }
}

@media screen and (max-width: 900px) {
  .main-avatar-container .main-avatar-wrapper {
    padding: 6rem 8rem 0;
    margin: auto;
  }

  .main-avatar-container
    .main-avatar-wrapper
    .sub-avatar-container
    .sub-avatar-wrapper
    .inside-sub-avatar-container {
    padding: 0 1rem 2rem;
    margin: auto;
  }
}

@media screen and (max-width: 800px) {
  .main-avatar-container .main-avatar-wrapper {
    padding: 5rem 7rem 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    font-size: 15px;
  }

  .main-avatar-container
    .main-avatar-wrapper
    .sub-avatar-container
    .sub-avatar-wrapper
    .isay-logo
    img {
    height: 5rem;
    transform: translate(-1rem, -2.5em);
  }

  .main-avatar-container
    .main-avatar-wrapper
    .sub-avatar-container
    .sub-avatar-wrapper
    h2 {
    text-align: center;
    transform: translateY(-2rem);
  }

  .main-avatar-container
    .main-avatar-wrapper
    .sub-avatar-container
    .sub-avatar-wrapper {
    padding: 0.5rem;
  }

  .main-avatar-container
    .main-avatar-wrapper
    .sub-avatar-container
    .sub-avatar-wrapper
    button {
    width: 100%;
    margin: 0.5rem 0;
  }

  .main-avatar-container
    .main-avatar-wrapper
    .sub-avatar-container
    .sub-avatar-wrapper
    .inside-sub-avatar-container
    .inside-sub-avatar-wrapper
    .avatar-name-wrapper
    .confetti-1 {
    height: 3rem;
    transform: unset;
  }
}

@media screen and (max-width: 650px) {
  .main-avatar-container .main-avatar-wrapper {
    padding: 3rem 1.5rem;
  }

  .main-avatar-container
    .main-avatar-wrapper
    .sub-avatar-container
    .sub-avatar-wrapper
    .isay-logo
    img {
    height: 5rem;
    transform: none;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .main-avatar-container
    .main-avatar-wrapper
    .sub-avatar-container
    .sub-avatar-wrapper
    .inside-sub-avatar-container {
    padding: 0 1rem;
    margin-top: 2rem;
  }

  .main-avatar-container
    .main-avatar-wrapper
    .sub-avatar-container
    .sub-avatar-wrapper
    h2 {
    text-align: center;
    transform: none;
  }
}

@media screen and (max-width: 506px) {
  .main-avatar-container {
    width: fit-content;
    min-height: auto;
  }
}
