.login-container {
  color: rgba(79, 79, 79, 1);
  height: 100vh;
}

.login-container .login-wrapper {
  display: grid;
  height: 100%;
}

.login-container .login-wrapper .left-content-login {
  background-image: url(https://i.ibb.co/nzvPCvw/left-img-isay-png.png);
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2rem;
}

.login-container .login-wrapper .left-content-login .logo {
  padding: 2rem 0 1rem;
  height: 80px;
}

.login-container .login-wrapper .left-content-login .logo img {
  height: 80px;
}

.login-container .login-wrapper .left-content-login h2 {
  color: white;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 3rem;
}

.login-container .login-wrapper .left-content-login .download-button {
  display: none;
  justify-content: center;
  padding-bottom: 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.login-container .login-wrapper .left-content-login .download-button a img {
  max-height: 40px;
}

.login-container
  .login-wrapper
  .left-content-login
  .download-button
  a:first-child {
  margin-right: 1rem;
}

.login-container .login-wrapper .right-content-login {
  background-image: url(https://i.ibb.co/mG6Vfmt/right-img-isay.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}

.login-container .login-wrapper .right-content-login .login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 1rem 3rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  text-align: center;
  align-items: center;
  box-shadow: 0px 70px 100px rgba(109, 109, 109, 0.25);
}

.login-container .login-wrapper .right-content-login .login-wrapper h2 {
  margin: 0 0 2rem;
}

.login-container .login-wrapper .right-content-login .login-wrapper form {
  width: 100%;
}

.login-container .login-wrapper .right-content-login .login-wrapper form label {
  font-weight: bold;
  margin-top: 1rem;
}

.login-container .login-wrapper .right-content-login .login-wrapper form input {
  border-radius: 0.4rem;
  padding: 0.75rem 1rem;
  margin: 1rem 0;
  width: 100%;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
  box-shadow: 0px 5px 20px rgba(109, 109, 109, 0.08);
}

.login-container
  .login-wrapper
  .right-content-login
  .login-wrapper
  form
  input:last-child {
  font-weight: bold;
  padding: 0.75rem 0;
  box-sizing: border-box;
  background-color: #4681f7ff;
  color: white;
}

.login-container .login-wrapper .right-content-login .login-wrapper button {
  width: 100%;
  font-weight: bold;
  padding: 0.5rem 0;
  box-sizing: border-box;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(79, 79, 79, 1);
}

.login-container .login-wrapper .right-content-login .login-wrapper button img {
  margin-right: 0.5rem;
  height: 25px;
}

.login-container .login-wrapper .right-content-login .login-wrapper p {
  font-size: 0.8rem;
}

.login-container .login-wrapper .right-content-login .login-wrapper p a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #4681f7ff;
  font-weight: bold;
}

@media screen and (min-width: 540px) {
  .login-container .login-wrapper .right-content-login .login-wrapper {
    width: 100%;
  }
  .login-container
    .login-wrapper
    .right-content-login
    .login-wrapper
    form
    input {
    width: 80%;
  }
  .login-container .login-wrapper .right-content-login .login-wrapper button {
    width: 80%;
  }
}

@media screen and (min-width: 600px) {
  .login-container
    .login-wrapper
    .right-content-login
    .login-wrapper
    form
    input {
    width: 60%;
  }
  .login-container .login-wrapper .right-content-login .login-wrapper button {
    width: 60%;
  }
}

@media screen and (min-width: 750px) {
  .login-container .login-wrapper {
    grid-template-columns: repeat(2, 50%);
  }

  .login-container .login-wrapper .left-content-login {
    text-align: right;
    padding-right: 2rem;
    padding-top: 9rem;
  }

  .login-container .login-wrapper .left-content-login .download-button {
    display: flex;
    justify-content: flex-end;
  }

  .login-container .login-wrapper .right-content-login {
    padding: 4rem;
  }

  .login-container .login-wrapper .right-content-login .login-wrapper {
    text-align: left;
    align-items: flex-start;
  }

  .login-container
    .login-wrapper
    .right-content-login
    .login-wrapper
    form
    input {
    width: 100%;
  }

  .login-container .login-wrapper .right-content-login .login-wrapper button {
    width: 100%;
  }
}

@media screen and (min-width: 1090px) {
  .login-container .login-wrapper .right-content-login .login-wrapper {
    width: 90%;
  }
}

@media screen and (min-width: 1125px) {
  .login-container .login-wrapper .right-content-login .login-wrapper {
    width: 80%;
  }
}
