.message-page-wrapper{
    padding: 2rem;
    display: flex;
    flex-direction: column-reverse;
}
/* 
@media only screen and (min-width: 721px){
    .message-page-wrapper{
        flex-direction: row;
        justify-content: center;
    }

    .message-page-wrapper .content-message-page{
        margin-left: 2rem;
    }

} */