.notification-container {
  margin: 2rem 0.5rem;
}

.notification-container .notification-wrapper {
  display: flex;
  flex-direction: column;
}


@media only screen and (min-width: 800px) {
  .notification-container .notification-wrapper {
    flex-direction: row;
  }

  .notification-container .notification-wrapper .right-container {
    width: 100%;
  }
}

@media only screen and (min-width: 950px) {
  .notification-container .notification-wrapper {
    padding: 0 2rem;
  }

}