.footer-container {
  background: linear-gradient(
    97.94deg,
    var(--footGradFirst) -13.16%,
    var(--footGradSecond) 52.91%,
    var(--footGradThird) 103.6%,
    var(--footGradFourth) 123.54%
  );
  color: var(--footerText);
}

.footer-container .footer-wrapping {
  padding: 2rem;
}

.footer-container .footer-wrapping,
.footer-container .footer-wrapping div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-container .footer-wrapping div {
  margin: 0 auto;
}

.footer-container .footer-wrapping div p {
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 0.4rem;
  text-align: left;
  display: none;
}

.footer-container .footer-wrapping div p:first-child {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  display: none;
  cursor: auto;
}

.footer-container .footer-wrapping div p {
  cursor: pointer;
}

.footer-container .footer-wrapping .left img {
  width: 130px;
}

@media screen and (min-width: 340px) {
  .footer-container .footer-wrapping {
    justify-content: space-evenly;
    align-items: flex-start;
  }
}

@media screen and (min-width: 590px) {
  .footer-container .footer-wrapping {
    flex-direction: row;
  }

  .footer-container .footer-wrapping div {
    margin: 0 1.5rem;
  }

  .footer-container .footer-wrapping div p {
    display: block;
  }

  .footer-container .footer-wrapping div p:first-child {
    display: block;
  }
}
