.left-content {
  margin-right: 0em;
  margin-bottom: 2rem;
}

.left-content .left-wrapping {
  padding: 1rem;
  border: 1.5px solid rgba(183, 183, 183, 1);
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.left-content .left-wrapping h2 {
  margin: 0;
  margin-bottom: 1.4rem;
  font-size: 0.9em;
  font-weight: 600;
}

.left-content .left-wrapping p {
  font-size: 0.7em;
  margin-bottom: 1.4rem;
}

.left-content .left-wrapping .filter-box {
  font-size: 0.8em;
}

.left-content .left-wrapping .filter-box form {
  display: flex;
  flex-direction: column;
}

.left-content .left-wrapping .filter-box form .choice {
  display: flex;
  margin-bottom: 0.5rem;
}

.left-content .left-wrapping .filter-box form .choice label {
  margin-right: auto;
  font-weight: 600;
}

.left-content .left-wrapping .filter-box form .choice input {
  margin-top: 0;
}

.left-content .left-wrapping .filter-box form input {
  margin-top: 1rem;
  padding: 0.4rem 0;
  box-sizing: border-box;
  background-color: white;
  border-radius: 0.5rem;
  border: 0.13rem solid rgba(71, 129, 248, 1);
  color: rgba(71, 129, 248, 1);
  font-weight: 600;
}

@media screen and (min-width: 600px) {
  .left-content {
    position: sticky;
    top: 2rem;
  }

  .left-content .left-wrapping {
    width: 250px;
    margin-right: 2rem;
  }
}
