.main-container {
  background: #ffffff;
  border: 2px solid rgba(183, 183, 183, 1);
  border-radius: 0.5rem;
  margin: 0 0 2rem;
  box-sizing: border-box;
  width: 100%;
}

.notif-container {
  width: 100%;
}

.notif-container .notif-wrapper {
  padding: 0.5rem;
  color: #4f4f4f;
  box-sizing: border-box;
}

.notif-container .notif-wrapper .notif-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 1rem 0;
  text-indent: 0.7rem;
  box-sizing: border-box;
}

.notif-container .notif-wrapper .notif-header img {
  border: 10px solid #61db99;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.notif-container .notif-wrapper .notif-header h4 {
  font-size: 1rem;
  font-weight: 600;
}

.notif-container .notif-wrapper .notif-header p {
  font-size: 0.8rem;
}

.notif-container .notif-wrapper .notif-header p:last-child {
  margin-left: auto;
  margin-right: 5rem;
}
.notif-container .notif-wrapper .sub-container {
  background: #ffffff;
  border: 2px solid rgba(183, 183, 183, 1);
  border-radius: 0.5rem;
  margin: 0 1rem 0.5rem 4.5rem;
}

.notif-container .notif-wrapper .sub-container .sub-wrapper {
  padding: 0 1rem 0;
  box-sizing: border-box;
}

.notif-container .notif-wrapper .sub-container .sub-wrapper .sub-header {
  display: flex;
  align-items: center;
}

.notif-container .sub-container .sub-wrapper .sub-header img {
  border: 10px solid #8a62fb;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.notif-container .notif-wrapper .sub-container .sub-wrapper .sub-header h4 {
  color: #4f4f4f;
  font-weight: 600;
  font-size: 1rem;
  text-indent: 1rem;
}

.notif-container
  .notif-wrapper
  .sub-container
  .sub-wrapper
  .sub-header
  p:nth-last-child(2) {
  color: #4f4f4f;
  font-size: 0.8rem;
  text-indent: 1rem;
}
.notif-container
  .notif-wrapper
  .sub-container
  .sub-wrapper
  .sub-header
  p:last-child {
  margin-left: auto;
  font-weight: 600;
  color: white;
  background-color: rgba(138, 98, 251, 1);
  border-radius: 0.8rem;
  padding: 0.6rem;
  font-size: small;
  box-sizing: border-box;
}

.notif-container .sub-container .sub-wrapper .sub-content {
  margin-left: 3rem;
}

.notif-container .sub-container .sub-wrapper .sub-content p {
  color: #4f4f4f;
  font-weight: 600;
  font-size: 0.8rem;
}

.notification-pagination {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}

@media screen and (min-width: 420px) {
  .main-container .notif-container .notif-wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  .notif-container .notif-wrapper .notif-header {
    display: flex;
    justify-content: center;
  }

  .notif-container .sub-container .sub-wrapper .sub-content p {
    padding-left: 15px;
    text-align: justify;
  }

  .notif-container .notif-wrapper .notif-header p:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 600px) {
  .main-container {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .main-container {
    width: 100%;
    /* margin-left: 2rem; */
  }
}

@media screen and (min-width: 1125px) {
  .notif-container .notif-wrapper .notif-header p:last-child {
    margin-right: 5rem;
  }
}
