.main-container {
  background: var(--white);
  border: 2px solid var(--border);
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.main-container .notif-container {
  color: var(--text);
  box-sizing: border-box;
}

.notif-container .notif-wrapper {
  padding: 1rem;
}

.notif-container .notif-wrapper .notif-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-indent: 0.7rem;
}

.notif-container .notif-wrapper .notif-header .head-upper {
  flex: 1 0 20%;
  display: flex;
  flex-direction: row;
}

.notif-container .notif-wrapper .notif-header .head-upper .head-upper-bg {
  background-color: var(--mainGreen);
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  border: 0.7rem solid var(--mainGreen);
  border-radius: 50%;
}

.notif-container .notif-wrapper .notif-header .head-upper .head-upper-bg img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  max-height: 100%;
}

.notif-container .notif-wrapper .notif-header .head-bottom {
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

.notif-container .notif-wrapper .notif-header .head-bottom p:first-child {
  flex: 1 0 60%;
  font-size: large;
}

.notif-container .notif-wrapper .notif-header .head-bottom p:last-child {
  flex: 1 0 33%;
  font-weight: 600;
  font-size: small;
}

/* sub box */
.notif-container .notif-wrapper .sub-container {
  background: var(--background);
  border: 2px solid var(--border);
  border-radius: 0.5rem;
}

.notif-container .notif-wrapper .sub-container .sub-wrapper {
  padding: 0 0.5rem 0;
}

.notif-container .notif-wrapper .sub-container .sub-wrapper .sub-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}

.notif-container .sub-container .sub-wrapper .sub-header .img-sub-notif {
  background-color: var(--mainPurple);
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  border: 0.7rem solid var(--mainPurple);
  border-radius: 50%;
  /* transform: translateY(1rem); */
}

.notif-container .sub-container .sub-wrapper .sub-header .img-sub-notif img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  max-height: 100%;
}

.notif-container .notif-wrapper .sub-container .sub-wrapper .sub-header h4 {
  color: var(--text);
  font-weight: 600;
  font-size: 1rem;
  text-indent: 1rem;
  flex: 1 0 33%;
}

.notif-container
  .notif-wrapper
  .sub-container
  .sub-wrapper
  .sub-header
  .target {
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

.notif-container .notif-wrapper .sub-container .sub-wrapper .sub-header div {
  display: flex;
}

.notif-container
  .notif-wrapper
  .sub-container
  .sub-wrapper
  .sub-header
  .target
  p:first-child {
  font-size: 0.8rem;
  flex: 1 1 70%;
  font-weight: 600;
  text-indent: 1rem;
}
.notif-container
  .notif-wrapper
  .sub-container
  .sub-wrapper
  .sub-header
  .target
  p:last-child {
  font-weight: 600;
  color: var(--white);
  background-color: var(--mainPurple);
  border-radius: 0.8rem;
  font-size: small;
  padding: 0.5rem 0;
  text-align: center;
  flex: 1 1 15%;
}

.notif-container .sub-container .sub-wrapper .sub-content {
  margin-left: 1rem;
}

.notif-container .sub-container .sub-wrapper .sub-content p {
  color: var(--text);
  font-weight: 600;
  font-size: 0.8rem;
}

.notification-pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background: #ffffff;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  width: 90%;
  margin: 1rem auto;
}

@media only screen and (min-width: 375px) {
  .notif-container .notif-wrapper .notif-header .head-bottom p:first-child {
    flex: 1 0 75%;
  }
}

@media only screen and (min-width: 425px) {
  .notif-container .notif-wrapper .notif-header .head-bottom p:first-child {
    flex: 1 0 78%;
  }
}

@media only screen and (min-width: 600px) {
  .notif-container .notif-wrapper .notif-header .head-bottom p:first-child {
    flex: 1 0 85%;
  }

  .main-container {
    margin-left: 1.5rem;
  }
}

@media only screen and (min-width: 800px) {
  .notif-container .notif-wrapper .notif-header {
    /* flex-wrap: nowrap; */
    margin-bottom: 15px;
  }

  .notif-container .notif-wrapper .notif-header .head-bottom p:first-child {
    flex: 1 0 70%;
  }

  .notif-container .notif-wrapper .sub-container {
    margin-bottom: 15px;
  }

  .notif-container .notif-wrapper .sub-container .sub-wrapper {
    padding: 0 1.5em;
  }
}

@media only screen and (min-width: 900px) {
  .notif-container .notif-wrapper .notif-header .head-bottom p:first-child {
    flex: 1 0 75%;
  }
}

@media only screen and (min-width: 1100px) {
  .notif-container .notif-wrapper .notif-header .head-bottom p:first-child {
    flex: 1 0 70%;
  }
  .notif-container .notif-wrapper .notif-header {
    flex-wrap: nowrap;
  }

  .notif-container .notif-wrapper .sub-container .sub-wrapper .sub-header {
    flex-wrap: nowrap;
  }

  .notif-container .sub-container .sub-wrapper .sub-content p {
    margin-left: 3.5rem;
  }
}

@media only screen and (min-width: 1250px) {
  .notif-container .notif-wrapper .notif-header .head-bottom p:first-child {
    flex: 1 0 78%;
  }
}

@media only screen and (min-width: 1500px) {
  .notif-container .notif-wrapper .notif-header .head-bottom p:first-child {
    flex: 1 0 85%;
  }
}

/* LOAD */
.main-container .notif-container-load {
  box-sizing: border-box;
}

.notif-container-load .notif-wrapper-load {
  padding: 1rem;
}

.notif-container-load .notif-wrapper-load .notif-header-load {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-indent: 0.7rem;
}

.notif-container-load .notif-wrapper-load .notif-header-load .head-upper-load {
  flex: 1 0 20%;
  display: flex;
  flex-direction: row;
}

/* target */
.notif-container-load
  .notif-wrapper-load
  .notif-header-load
  .head-upper-load
  .head-upper-bg-load
  .circle1 {
  width: 50px;
  height: 50px;
  height: 3rem;
  background-image: linear-gradient(
  var(--colorLazyPrime),
  var(--colorLazyDouble)
  );
}

/* target */
.notif-container-load
  .notif-wrapper-load
  .notif-header-load
  .head-upper-load
  .rect1 {
  box-sizing: border-box;
  margin: 0.6rem 0.5rem 0;
  border-radius: 10px;
  width: 40%;
  height: 1.5rem;
  background-image: linear-gradient(
    var(--colorLazyPrime),
    var(--colorLazyDouble)
    );
}

.notif-container-load .notif-wrapper-load .notif-header-load .head-bottom-load {
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

/* target */
.notif-container-load
  .notif-wrapper-load
  .notif-header-load
  .head-bottom-load
  .rect2 {
  box-sizing: border-box;
  border-radius: 5rem;
  margin: 0.7rem;
  width: 40%;
  height: 1.5rem;
  background-image: linear-gradient(
    var(--colorLazyPrime),
    var(--colorLazyDouble)
    );
}

/* target */
.notif-container-load
  .notif-wrapper-load
  .notif-header-load
  .head-bottom-load
  .rect3 {
  box-sizing: border-box;
  border-radius: 5rem;
  width: 15%;
  margin-left: auto;
  margin-right: 1rem;
  height: 1.5rem;
  background-image: linear-gradient(
    var(--colorLazyPrime),
    var(--colorLazyDouble)
    );
}

/* target */
.notif-container-load
  .sub-container-load
  .sub-wrapper-load
  .sub-header-load
  .img-sub-notif-load
  .circle2 {
  width: 50px;
  height: 50px;
  height: 3rem;
  background-image: linear-gradient(
    var(--colorLazyPrime),
    var(--colorLazyDouble)
    );
}

/* target */
.notif-container-load
  .sub-container-load
  .sub-wrapper-load
  .sub-header-load
  .img-sub-notif-load
  .rect4 {
  box-sizing: border-box;
  margin: 0.6rem 0.5rem 0;
  border-radius: 10px;
  width: 7rem;
  height: 1.5rem;
  background-image: linear-gradient(
    var(--colorLazyPrime),
    var(--colorLazyDouble)
    );;
}

/* target */
.notif-container-load
  .notif-wrapper-load
  .sub-container-load
  .sub-wrapper-load
  .sub-header-load
  .target-load
  .rect5 {
  box-sizing: border-box;
  border-radius: 5rem;
  margin: 0.7rem;
  width: 30%;
  height: 1.5rem;
  background-image: linear-gradient(
    var(--colorLazyPrime),
    var(--colorLazyDouble)
    );
}

/* target */
.notif-container-load
  .notif-wrapper-load
  .sub-container-load
  .sub-wrapper-load
  .sub-header-load
  .target-load
  .rect6 {
  box-sizing: border-box;
  border-radius: 5rem;
  width: 20%;
  margin-left: auto;
  margin-right: 0.5rem;
  height: 1.5rem;
  background-image: linear-gradient(
    var(--colorLazyPrime),
    var(--colorLazyDouble)
    );
}

/* target */
.notif-container-load
  .notif-wrapper-load
  .sub-container-load
  .sub-wrapper-load
  .sub-content-load
  .rect7 {
  box-sizing: border-box;
  border-radius: 0.5rem;
  width: 95%;
  height: 3rem;
  margin-bottom: 0.7rem;
  background-image: linear-gradient(
    var(--colorLazyPrime),
    var(--colorLazyDouble)
    );
}

.notif-container-load
  .notif-wrapper-load
  .notif-header-load
  .head-bottom-load
  div:first-child {
  flex: 1 0 60%;
}

.notif-container-load
  .notif-wrapper-load
  .notif-header-load
  .head-bottom-load
  div:last-child {
  flex: 1 0 33%;
}

/* sub box */
.notif-container-load .notif-wrapper-load .sub-container-load {
  background: var(--background);
  border: 2px solid var(--border);
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.notif-container-load
  .notif-wrapper-load
  .sub-container-load
  .sub-wrapper-load {
  padding: 0 0.5rem 0;
}

.notif-container-load
  .notif-wrapper-load
  .sub-container-load
  .sub-wrapper-load
  .sub-header-load {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}

.notif-container-load
  .notif-wrapper-load
  .sub-container-load
  .sub-wrapper-load
  .sub-header-load
  h4 {
  flex: 1 0 33%;
}

.notif-container-load
  .notif-wrapper-load
  .sub-container-load
  .sub-wrapper-load
  .sub-header-load
  .target-load {
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

.notif-container-load
  .notif-wrapper-load
  .sub-container-load
  .sub-wrapper-load
  .sub-header-load
  div {
  display: flex;
}

.notif-container-load
  .notif-wrapper-load
  .sub-container-load
  .sub-wrapper-load
  .sub-header-load
  .target-load
  p:first-child {
  flex: 1 1 70%;
}

.notif-container-load
  .notif-wrapper-load
  .sub-container-load
  .sub-wrapper-load
  .sub-header-load
  .target-load
  p:last-child {
  border-radius: 0.8rem;
  padding: 0.5rem 0;
  flex: 1 1 15%;
}

.notif-container-load .sub-container-load .sub-wrapper-load .sub-content-load {
  margin-left: 1rem;
}

.notification-pagination-load {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}

@media only screen and (min-width: 375px) {
  .notif-container-load
    .notif-wrapper-load
    .notif-header-load
    .head-bottom-load
    p:first-child {
    flex: 1 0 75%;
  }
}

@media only screen and (min-width: 425px) {
  .notif-container-load
    .notif-wrapper-load
    .notif-header-load
    .head-bottom-load
    p:first-child {
    flex: 1 0 78%;
  }
}

@media only screen and (min-width: 600px) {
  .notif-container-load
    .notif-wrapper-load
    .notif-header-load
    .head-bottom-load
    p:first-child {
    flex: 1 0 85%;
  }

  .main-container-load {
    margin-left: 1.5rem;
  }

  .notif-container-load
    .notif-wrapper-load
    .sub-container-load
    .sub-wrapper-load
    .sub-content-load
    .rect7 {
    width: 98%;
  }
}

@media only screen and (min-width: 800px) {
  .notif-container-load
    .notif-wrapper-load
    .notif-header-load
    .head-bottom-load
    p:first-child {
    flex: 1 0 70%;
  }

  .notif-container-load .notif-wrapper-load .sub-container-load {
    margin-bottom: 15px;
  }

  .notif-container-load
    .notif-wrapper-load
    .sub-container-load
    .sub-wrapper-load {
    padding: 0 1.5em;
  }

  .notif-container-load
    .sub-container-load
    .sub-wrapper-load
    .sub-content-load
    p {
    margin-left: 3.5rem;
  }
}

@media only screen and (min-width: 900px) {
  .notif-container-load
    .notif-wrapper-load
    .notif-header-load
    .head-bottom-load
    p:first-child {
    flex: 1 0 75%;
  }
}

@media only screen and (min-width: 1100px) {
  .notif-container-load
    .notif-wrapper-load
    .notif-header-load
    .head-bottom-load
    p:first-child {
    flex: 1 0 70%;
  }

  .notif-container-load
  .notif-wrapper-load
  .sub-container-load
  .sub-wrapper-load
  .sub-content-load
  .rect7 {
  margin-top: 0.5rem;
}

  .notif-container-load .notif-wrapper-load .notif-header-load {
    flex-wrap: nowrap;
  }

  .notif-container-load
    .notif-wrapper-load
    .sub-container-load
    .sub-wrapper-load
    .sub-header-load {
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 1250px) {
  .notif-container-load
    .notif-wrapper-load
    .notif-header-load
    .head-bottom-load
    p:first-child {
    flex: 1 0 78%;
  }
}

@media only screen and (min-width: 1500px) {
  .notif-container-load
    .notif-wrapper-load
    .notif-header-load
    .head-bottom-load
    p:first-child {
    flex: 1 0 86%;
  }
}
