.topic-container {
  margin: 0 auto;
  margin-bottom: 2rem;
}

.topic-container .topic-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: var(--background);
  border: 2px solid var(--border);
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.topic-container .topic-wrapper h3 {
  color: var(--text);
  /* font-size: 0.9em; */
  font-weight: 600;
}

.topic-container .topic-wrapper p {
  color: var(--text);
  font-size: 0.9em;
}

.topic-container .topic-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.topic-container .topic-wrapper ul li {
  color: var(--mainBlue);
  line-height: 2rem;
}

.topic-container .topic-wrapper .left-notif-btn{
  margin: 0 auto;
}

.topic-container .topic-wrapper .left-notif-btn Button {
  margin-top: 10px;
  color:var(--mainBlue);
  border: 0.13rem solid var(--mainBlue);
  font-weight: 600;
  border-radius: 0.5rem;
  font-size: 0.7rem;
}

@media screen and (min-width: 420px) {
  .topic-container {
    width:100%;
  }
}

@media screen and (min-width: 800px) {
  .topic-container {
    width: 250px;
  }
}
