.dark {
  --white: #17153a;
  --whitePeach: #3d4040;
  --whiteShadow: #4e4e4e;

  --background: #17153a;

  --text: #eeeeee;
  --border: #eeeeee;
  --buttonClick: #3d3d3d;
  --secondButtonClick: #222222;
  --shadowBox: #ffffff40;

  --mainPurple: #c438ef;
  --mainGreen: #23e73c;
  --mainBlue: #40ddff;
  --mainRed: #d64f4f;

  --secondPurple: #9a22be;
  --secondGreen: #19a82c;
  --secondBlue: #13b1e6;

  --tertierPurple: #8c22ac;
  --tertierGreen: #196b24;
  --tertierBlue: #2d426d;
  --tertierRed: #9b2020;

  --colorLazyPrime: #101010;
  --colorLazyDouble: #1f1f1f;

  background-color: var(--background);
}
