* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Lucida Grande, Helvetica, Arial, sans-serif;
}

:root {
  --white: #ffffff;
  --whitePeach: #c2bfbf;
  --whiteShadow: #b1b1b1;

  --text: #4f4f4f;
  --border: #b7b7b7;
  --buttonClick: #c2c2c2;
  --shadowBox: #6d6d6d40;

  --mainPurple: #8a62fb;
  --mainGreen: #61db99;
  --mainBlue: #4781f8;
  --mainRed: #d64f4f;

  --secondPurple: #7758ce;
  --secondGreen: #058d69;
  --secondBlue: #4172d3;

  --tertierPurple: #7927a9;
  --tertierGreen: #0b7055;
  --tertierBlue: #405a8f;
  --tertierRed: #9b2020;
}

body {
  margin: 0;
  padding: 0;
}

a,
button,
input[type="submit"] {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--text);
}
