* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Lucida Grande, Helvetica, Arial, sans-serif;
}

:root {
  --background: #ffffff;

  /* for text and paragraf */
  --text: #4f4f4f;
  --textOnContrast: #ffffff;

  /* for border */
  --border: #b7b7b7;
  --borderBig: #b7b7b7;
  --borderOnContrast: #ffffff;

  /* for button */
  --btnTrans: #ffffff;

  --mainGreyBtn: #b7b7b7;
  --hoverGreyBtn: #7e7e7e;
  --activeGreyBtn: #575757;

  --mainHeroBtn: #8a62fb;
  --hoverHeroBtn: #6147aa;
  --activeHeroBtn: #4c3885;

  --mainSecondBtn: #4781f8;
  --hoverSecondBtn: #3664c0;
  --activeSecondBtn: #264b96;

  --mainGreenBtn: #61db99;
  --hoverGreenBtn: #4baa77;
  --activeGreenBtn: #39885e;

  --mainWarnBtn: #f84747;
  --hoverWarnBtn: #be3131;
  --activeWarnBtn: #7c2222;

  /* for image container  */
  --firstImage: #61db99;
  --secondImage: #8a62fb;

  /* for nav */
  --searchBoxBg: #ffffff;
  --colorSearch: #4f4f4f;
  --avarBg: #8a62fb;
  --avaBorder: #ffffff;
  --textColor: #ffffff;
  --colorInde: #8a62fb;

  /* for footer */

  --footerText: #ffffff;

  /* for block component */
  --heroBlock: #8a62fb;

  /* for setting page */
  --blockDisplayProfile: #4781f8;
  --interestBg: #ffffff;
  --interestContent: #4781f8;

  --white: #ffffff;
  --whitePeach: #c2bfbf;
  --whiteShadow: #b1b1b1;

  --buttonClick: #c2c2c2;
  --secondButtonClick: #b6b6b6;
  --shadowBox: #6d6d6d40;

  --mainPurple: #8a62fb;
  --mainGreen: #61db99;
  --mainBlue: #4781f8;
  --mainRed: #d64f4f;

  --secondPurple: #7758ce;
  --secondGreen: #058d69;
  --secondBlue: #4172d3;

  --tertierPurple: #7927a9;
  --tertierGreen: #0b7055;
  --tertierBlue: #405a8f;
  --tertierRed: #9b2020;

  /* for lazy load */
  --colorLazyPrime: #efefef;
  --colorLazyDouble: #e0e0e0;
}

body {
  margin: 0;
  padding: 0;
}

a,
button,
input[type="submit"] {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  width: 100%;
}
