.background-location {
  background-image: url("https://i.ibb.co/Lg01Zy2/group-img-isay-png.png");
  background-size: cover;
  min-height: 100vh;
}

.location-wrapper {
  color: #4f4f4f;
  padding: 5rem;
  box-sizing: border-box;
}

.location-container {
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 1rem 1rem 1rem rgba(117, 117, 117, 0.5);
  border-radius: 5px;
  text-align: justify;
  padding: 4rem;
  line-height: 2em;
  word-wrap: break-word;
  word-break: keep-all;
}

.location-line1 {
  font-size: 2rem;
  line-height: 1.5rem;
  margin-bottom: 1.8rem;
}

.location-line2 {
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 3rem;
}

.location-line3 {
  color: #4f4f4f;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-indent: 1rem;
}

.location-line4 {
  color: #828282;
  font-size: 1rem;
  text-indent: 2.4rem;
  margin-top: 0rem;
  margin-bottom: 4rem;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 5rem 0;
}

.btn-location {
  background-color: #4681f7ff;
  border-radius: 3px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  border-color: transparent;
  margin: 2rem 0 1rem;
  transform: translateY(1rem);
  padding: 0.75rem 4rem;
  box-sizing: border-box;
}

.btn-location a {
  text-decoration: none;
  color: #ffffff;
}

@media only screen and (max-width: 850px) {
  .location-container {
    text-align: center;
    padding: 2.5rem;
  }

  .location-line3 {
    justify-content: center;
  }

  .location-line4 {
    text-indent: 0rem;
    font-weight: lighter;
  }
}

@media only screen and (max-width: 650px) {
  .location-wrapper {
    padding: 3rem;
  }

  .location {
    margin: 0;
  }

  .btn-location {
    transform: unset;
    padding: 0.5rem 4rem;
  }
}

@media only screen and (max-width: 450px) {
  .location-wrapper {
    padding: 2rem;
  }
}
@media only screen and (max-width: 250px) {
  .location-wrapper {
    padding: 1rem;
  }

  .btn-location {
    transform: unset;
    padding: 0.5rem 2rem;
  }
}
